@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@model IEnumerable<Sistemas.Models.TipoServicio>

<h2>Tipos de Servicios</h2>

<a asp-action="Crear" class="btn btn-primary mb-3">Registrar Tipo de Servicio</a>

<table class="table table-bordered table-striped">
    <thead class="table-dark">
        <tr>
            <th>ID</th>
            <th>Nombre</th>
            <th>Descripción</th>
            <th>Precio</th>
            <th>Acciones</th>
        </tr>
    </thead>

    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.IdTipoServicio</td>
                <td>@item.Nombre</td>
                <td>@item.Descripcion</td>
                <td>$@item.Precio</td>
                <td>
                    <a asp-action="Editar" asp-route-id="@item.IdTipoServicio" class="btn btn-warning btn-sm">Editar</a>
                    <a asp-action="Eliminar" asp-route-id="@item.IdTipoServicio" class="btn btn-danger btn-sm">Eliminar</a>
                </td>
            </tr>
        }
    </tbody>
</table>
